@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

body {
    background: url(../imagens/tela-cinza-home.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 412px;
    height: 713px;
    background: url(../imagens/telagold-home.png);
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 50px;
    width: 280px;
    height: 499px;
}
section#redes-sociais {
    text-align: right;
}

section#redes-sociais, img {
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 4px 6px #00000042;
    margin: 6px;
    width: 40px;
}

section#redes-sociais, img:hover {
    box-shadow: 2px 4px 6px #00000085;
    border: 1px solid #00000004;
    transition:  trasform .4s;
}